@import '../variables.lessimport';

.bet-blocks-container{
  height: 70%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: darken(white, 3%);
  border-radius: 11px;
  overflow: auto;
}
.bet-block{
  position: relative;  // for being able to position the accept/decline buttons
  text-align: left;
  font-size: 0.85em;

  background-color: @veryLightGray;

  margin: 5%;
  border: 1px solid @highlightColor;

  .button, button {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
  }
}
.bet-description{
  padding: 9px;
}
.acceptBet{
  float: right;
}
.declineBet{
  float: right;
}
.bet-block-win-notif {
  text-align: center;
  margin-bottom: -5px;
  color: green;
}
.bet-block-lose-notif {
  text-align: center;
  margin-bottom: -5px;
  color: red;
}
.bet-strong-text{
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;

  text-shadow: 0px 0px 5px #888;
  text-align: center !important;
}
.bet-win-text{
  .bet-strong-text;
  color: green;
}
.bet-lose-text{
  .bet-strong-text;
  color: red;
}
