@import '../variables.lessimport';

.block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  height: 35%;

  background-color: @veryLightGray;

  border-radius: 9px;
  border: 2px solid @highlightColor;
  position: relative;
  overflow: hidden;

  text-align: left;
  input {
    font-size: 0.85em;
  }
}
.personal-image-position{
  width: 30%;
  height: 100%;
  margin: 0;
  float: left;
}
.info-block{
  width: 70%;
  height: 100%;
  margin: 0;
  float: right;
  font-size: 0.8em;
  text-align: left;

  div {
    margin: 3px;
  }

  input{
    width: 70%;
    height: 100%;
    float: right;
    border: 0;
    margin: 0;
    border-bottom: 1px dashed @black;
    border-radius: 3px;
    background-color: lighten(@veryLightGray, 5%);
    &:focus{
      background-color: lighten(@veryLightGray, 9%);
    }
  }
  
}
.block-content {
  height: 80%;
  width: 100%;
}
#updatePersonalInfo, #updateBetInfo {
  width: 40%;
}
.dash-info-good {
  position: relative;
  top: 40%;
  /* Shadows are visible under slightly transparent text color */
  color: rgba(80,80,80, 0.7);
  text-shadow: 1px 4px 6px @veryLightGray, 0 0 0 #000, 1px 4px 6px @veryLightGray;
  /* Don't show shadows when selecting text */
  &:-moz-selection { background: #5af; color: #fff; text-shadow: none; }
  &:selection { background: #5af; color: #fff; text-shadow: none; }

  text-align: center;
}
.dash-goal-title{
  background: rgba(255,255,255,0.8);
  border-bottom: 1px solid black;
  position: relative;
  text-align: left;
}
.dash-goal-title-label{
/*  position: absolute;
  left: 0;*/
  border-right: 1px solid black;
  padding: 11px;
}
.dash-goal-title-title{
  float: right;
  padding: 11px;
  max-width: 75%;
  font-size: 0.85em;
}
.dash-goal-days-left {
  background-color: lighten(@veryLightGray, 5%);
  color: @backgroundColor;
  float: left;
  padding: 5px;
  margin: 5px;
  border: 1px solid @highlightColor;
}
.dash-goal-update {
  width: 80%;
  position: absolute;
  right: 0;
}
#updateBetInfo {
  position: absolute;
  bottom: 9px;
  left: 30%;
}
.dash-news-item {
  border: 1px solid @gray;
  background-color: @white;

  padding: 5px;
  margin: 6px;
}
