/*
  The mobile site is the priority, so all the styles are 'originally' designed for mobile.
  These 'original' styles are saved in client/css/mobile/.
  Then, we add the stylesheets from client/css/desktop/ as reactive re-styling to look better on desktops.
  All the .lessimport files are in client/css/
    use @import '../filename.lessimport';
*/

@import '../variables.lessimport';

.slider{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
}
#nextStep {
  position:absolute;
  bottom:0;
  left:0;
  height:10%;
  width:100%;
  font-size:23px;
  font-weight:bold;
  &:active{
    position:absolute;
    bottom:1px;
  }
}
.username{
  line-height:2em;
}
.invites {
  text-align:left;
  font-size:0.8em;
  margin:0;
}
.bets {
  text-align:left;
  font-size:0.8em;
  margin:0;
}
.dash-body{
  height:90%;
}
.dash-link{
  margin-top:10px;
  text-align:left;
  margin-left:15px;
}
#signout{
  float:right;
  width:20%;
}
.friendslist-container {
  height:60%;
}
#friend {
  margin-top:0;
  margin-left:10px;
  padding-left:10px;
  text-align:left;
  height:90%;
  overflow:auto;
}
.product-pick{
  background-color: @highlightColor;
}
