/*
  The mobile site is the priority, so all the styles are 'originally' designed for mobile.
  These 'original' styles are saved in client/css/mobile/.
  Then, we add the stylesheets from client/css/desktop/ as reactive re-styling to look better on desktops.
  All the .lessimport files are in client/css/
    use @import '../filename.lessimport';
*/

@import '../variables.lessimport';

@media screen and (min-device-width:1024px)
{
  html, body {
    font-size:1.3em;
  }
  button {
    font-size:18px;
    border-radius: 4px;
  }
  h1 {
    font-size:30px;
    line-height:30px;
  }
  h2 {
    font-size:24px;
    line-height:24px;
  }
  .step-container{
    width:500px;
    margin-left:auto;
    margin-right:auto;
    height:90%;
    position:relative;
    top:5%;
  }
  #signout{
   margin:0;
   position:absolute;
   right:0;
  }
}
